/* geral */
body {
  margin: 0;
  font-family: Roboto;
  padding: 0;
}

h2 {
  font-size: 30px;
}

/* navbar */
#navegar {
  background: linear-gradient(rgb(245, 200, 0), #000000);
  color: #FFF;
  padding: 0 15px;
  height: 60px;
}

#navegar h2, #navegar ul, #navegar-list li,#navegar nav {
  display: inline-block;
}

#navegar h2 {
  margin: 0;
  line-height: 60px;
  margin-left: 55px;
}

#navegar img {
  height: 40px;
  transform: rotate(0deg);
  position: absolute;
  top: 10px;
  border-radius: 50%
}

#navegar nav {
  float: right;
}

#navegar ul {
  margin-top: 22px;
}

#navegar li {
  margin: 0 10px;
}

#navegar-list li a {
  text-decoration: none;
  color: #FFF;
}

#navegar-list li a:hover {
  border-bottom: 1px solid rgb(0, 158, 179);
  color: rgb(0, 158, 179);
}

/* Fundo */
body section {
  background: linear-gradient(black, black, blue);
  height: 500px;
  text-align: center;
  color: #FFF;
  padding-top: 1vh;
}

 /* banner */
 #main-banner {
  height: 70vh;
  background-image: url("/img/bg-projeto.jpg");
  background-size: cover;
  padding-top: 15vh;
}

#banner-info {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #FFF;
  padding: 50px;
}

#banner-info img {
  height: 120px;
  border-radius: 50%;
  background-color:transparent;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Fim */
footer {
  padding: 5px 0;
  color: rgb(255, 255, 255);
  text-align: center;
  background: linear-gradient(#000000,rgb(133, 108, 0));
  width: 100%;
}

@media only screen and (max-device-width: 600px) {
  /* Para Mobile */
  #navegar h2 {font-size: 103%;}
  footer p {font-size: 80%;}
}